openapi: 3.0.0
info:
  title: Midjourney api-unofficial by Legnext.ai
  description: >-
    # **Legnext.ai Midjourney API: The Ultimate AI Image Generation Toolkit**


    Unlock the full creative potential of Midjourney directly within your
    applications and development workflows using the **Legnext.ai Midjourney API
    (Unofficial)**. This comprehensive collection offers a ready-to-integrate
    solution for professional image and video creation, manipulation, and
    high-fidelity upscaling.


    We provide developers with **stable, high-performance API access** to the
    Midjourney model. Crucially, integrating our service requires **no
    Midjourney account**, eliminating the hassle of managing official
    subscriptions or Discord interactions. Our toolkit simplifies the entire
    text-to-image process, supporting complex prompts, aspect ratio adjustments,
    and advanced style parameters.


    Focus on innovation while we handle the AI infrastructure. Start building
    scalable, visually stunning applications today with reliable access to the
    world’s leading generative AI model.
  version: 1.0.0
servers:
  - url: https://api.legnext.ai
    description: Production server
tags:
  - name: image
    description: Contains all image generation, manipulation, and transformation endpoints.
  - name: Video
    description: Handles video generation, upscaling, and extension operations.
  - name: account management
    description: Manages API account operations and balance checking.
paths:
  /api/v1/diffusion:
    post:
      tags:
        - image
      summary: Diffusion
      description: >-
        ## Generate Image from Text Prompt (Diffusion)


        Creates AI-generated images from text descriptions using Midjourney's
        diffusion model. This endpoint processes your prompt asynchronously and
        delivers the generated image to your specified callback URL.


        ### How It Works


        Submit a text prompt describing the image you want to create. The API
        processes your request using Midjourney's AI model and sends the
        generated image result to your callback URL when complete. Processing
        typically takes 30-90 seconds depending on complexity and queue length.


        ### Required Parameters


        - **`text`** (string, required) - Your image description prompt
            
            - Example: `"A beautiful sunset over the snow mountains"`
                
            - Supports Midjourney parameters like `--v 7` (model version), `--draft` (draft mode), `--ar 16:9` (aspect ratio)
                
            - Be specific and descriptive for best results
                
        - **`callback`** (string, required) - HTTPS webhook URL to receive the
        result
            
            - Must be publicly accessible and accept POST requests
                
            - Example: `"https://your-domain.com/webhook/image-result"`
                
            - The API will send the generated image data to this URL when processing completes
                

        ### Authentication


        Requires a valid API key in the `x-api-key` header. Store your API key
        securely in environment variables and never expose it in client-side
        code.


        ### Response


        Returns immediately with a task ID and status. The actual generated
        image will be delivered to your callback URL asynchronously once
        processing completes.


        ### Common Use Cases


        - Generate marketing visuals and social media content
            
        - Create concept art and design mockups
            
        - Produce unique illustrations for articles and presentations
            
        - Prototype visual ideas before commissioning custom artwork
            
        - Build AI-powered image generation features into your applications
            

        ### Tips for Success


        - **Be specific:** Detailed prompts produce better results (e.g.,
        "photorealistic mountain landscape at golden hour" vs "mountains")
            
        - **Use Midjourney parameters:** Add `--v 7` for the latest model
        version, `--ar 16:9` for widescreen format
            
        - **Test your callback:** Ensure your webhook endpoint is accessible and
        can handle POST requests before submitting jobs
            
        - **Handle async responses:** Implement proper webhook handling to
        receive and process results
            
        - **Monitor task status:** Use the "Get task response" endpoint if you
        need to check job status manually
            

        ### Related Endpoints


        - **Get task response** - Check the status of your generation task
            
        - **Variation** - Create variations of a generated image
            
        - **Upscale** - Enhance the resolution of generated images
            
        - **Reroll** - Generate alternative versions with the same prompt
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                text: A beautiful sunset over the snow mountains --v 7 --draft
                callback: https://webhook.site/d0ca59bc-35a6-4a1e-b1b1-aea7faeb7f67
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique identifier for the created job
                  model:
                    type: string
                    description: AI model used (e.g., midjourney)
                  task_type:
                    type: string
                    description: Type of task (e.g., diffusion)
                  status:
                    type: string
                    description: Initial status (typically 'pending')
                  config:
                    type: object
                    properties:
                      service_mode:
                        type: string
                      webhook_config:
                        type: object
                        properties:
                          endpoint:
                            type: string
                          secret:
                            type: string
                  output:
                    type: object
                    properties:
                      image_url:
                        type: string
                      image_urls:
                        type: array
                        items:
                          type: string
                        nullable: true
                      seed:
                        type: string
                  meta:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      usage:
                        type: object
                        properties:
                          type:
                            type: string
                          frozen:
                            type: integer
                          consume:
                            type: integer
  /api/v1/upscale:
    post:
      tags:
        - image
      summary: Upscale
      description: >-
        ## Enhance Image Resolution and Quality


        Upscale and enhance one of your generated images to higher resolution
        with AI-powered quality improvement. Produces a single high-resolution
        version of the selected image.


        ### How it Works


        Select one image from a generation task and choose upscaling type. The
        API processes the image to increase resolution while adding detail and
        clarity based on the selected upscaling mode.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to upscale (0, 1, 2, or 3)
            
        - `type` - Upscaling type: 0=Subtle (conservative enhancement),
        1=Creative (adds detail and interpretation)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The upscaled image (single high-resolution
        output) will be sent to your callback URL when complete (typically
        90-120 seconds).


        ### Use Cases


        - Prepare images for print or high-resolution displays
            
        - Enhance selected variations for final delivery
            
        - Create detailed versions for client presentations
            
        - Generate production-ready assets from generations
            

        ### Tips


        - Type 0 (Subtle) is safer for preserving exact details
            
        - Type 1 (Creative) works well for artistic images where added
        interpretation is acceptable
            
        - Upscaling is typically the final step after selecting your preferred
        variation
            
        - Output resolution is significantly higher than the original 4-image
        grid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 0
                type: 0
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/reroll:
    post:
      tags:
        - image
      summary: Reroll
      description: >-
        ## Re-execute Task with Same Parameters


        Regenerate a new set of images using the exact same parameters as a
        previous task. This is equivalent to running the original request again
        with identical settings.


        ### How it Works


        Provide a previous task's job ID and the API will execute the same
        generation with the same prompt and parameters, producing 4 completely
        new variations.


        ### Required Parameters


        - `jobId` - UUID of the task to reroll
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a new task object with different `job_id`. The rerolled images
        (4 new variations) will be sent to your callback URL when complete
        (typically 60-90 seconds).


        ### Use Cases


        - Try the same prompt again if initial results didn't meet expectations
            
        - Generate additional variations without retyping prompts
            
        - Explore different random seeds for the same concept
            
        - Create more options from successful prompts
            

        ### Tips


        - Reroll uses the exact same parameters as the original task
            
        - Results will be completely different due to different random seeds
            
        - Consider using variation endpoint instead if you want to build on a
        specific result
            
        - You can reroll any completed task, even from previous sessions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/variation:
    post:
      tags:
        - image
      summary: Variation
      description: >-
        ## Create Controlled Variations of Existing Images


        Generate new variations of a specific image from a previous generation
        task with controllable transformation intensity. Perfect for exploring
        different interpretations while maintaining the core composition.


        ### How it Works


        Select one of the 4 generated images from a diffusion task and create
        variations with either subtle or strong intensity. The API generates 4
        new variations based on your selected image and intensity setting.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to vary (0, 1, 2, or 3)
            
        - `type` - Variation intensity: 0=Subtle (minor changes), 1=Strong
        (major changes)
            
        - `remixPrompt` - Optional additional prompt for guided variation
        (1-8192 characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a new task object with `job_id`. The 4 variation images will be
        sent to your callback URL when processing completes (typically 60-90
        seconds).


        ### Use Cases


        - Explore different interpretations of a successful generation
            
        - Fine-tune specific aspects of an image
            
        - Create multiple versions for A/B testing
            
        - Generate variations for client review
            
        - Remix images with additional prompt guidance
            

        ### Tips


        - Use type=0 (subtle) for minor refinements, type=1 (strong) for
        significant changes
            
        - Add remixPrompt to guide the variation in a specific direction
            
        - The original composition and structure are generally preserved
            
        - Can chain variations: create variations of variations for iterative
        refinement
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 1
                type: 1
                remixPrompt: A beautiful sunset over the snow mountains
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/inpaint:
    post:
      tags:
        - image
      summary: Inpaint
      description: >-
        ## Selectively Modify Image Regions with Masks


        Repaint or modify specific regions within an existing image using
        mask-based editing. Target precise areas for changes while preserving
        the rest of the image.


        ### How it Works


        Select an image and define regions to modify using either polygon
        coordinates or a mask image URL. Optionally provide a prompt to guide
        what should appear in those regions. The API regenerates only the masked
        areas.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to edit (0, 1, 2, or 3)
            
        - `mask` - Regions to repaint (use either areas array or url):
            
            - `areas` - Array of polygons with width, height, and points (XYXY coordinates)
                
            - `url` - Black and white mask image URL (white areas will be repainted)
                
        - `remixPrompt` - Optional prompt for the repaint area (1-8192
        characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The inpainted images (4 variations) will be sent
        to your callback URL when complete (typically 90-120 seconds).


        ### Use Cases


        - Remove unwanted objects from images
            
        - Replace specific elements while keeping surroundings
            
        - Modify facial expressions or poses
            
        - Change colors or textures in targeted areas
            
        - Fix specific issues without regenerating entire image
            

        ### Tips


        - Polygon points format: \[x1,y1, x2,y2, x3,y3, x4,y4\] in clockwise
        order
            
        - Mask images: white = repaint, black = keep original
            
        - Use remixPrompt to specify what should replace masked content
            
        - Smaller masks give more precise control
            
        - Can apply multiple polygon areas in a single request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 0
                mask:
                  areas:
                    - width: 500
                      height: 500
                      points:
                        - 10
                        - 10
                        - 10
                        - 100
                        - 100
                        - 100
                        - 100
                        - 10
                remixPrompt: Add a tree in the center
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/outpaint:
    post:
      tags:
        - image
      summary: Outpaint
      description: >-
        ## Expand Images in All Directions


        Extend an image uniformly in all directions using intelligent
        outpainting. Creates a larger canvas while maintaining the original
        image at the center.


        ### How it Works


        Select an image and specify scale factor. The API expands the canvas
        uniformly in all directions and generates new content that naturally
        continues the scene on all sides.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to expand (0, 1, 2, or 3)
            
        - `scale` - Extension scale ratio (1.1 to 2.0, e.g., 1.5 = 50% larger in
        all directions)
            
        - `remixPrompt` - Optional prompt to guide the outpainted areas (1-8192
        characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The outpainted images (4 variations) will be sent
        to your callback URL when complete (typically 90-120 seconds).


        ### Use Cases


        - Add environmental context around subject-focused images
            
        - Create wider scenes from cropped compositions
            
        - Extend backgrounds for design flexibility
            
        - Generate variations with different surrounding content
            
        - Prepare images for different aspect ratios
            

        ### Tips


        - Scale range 1.1-2.0 (outpaint is more conservative than pan)
            
        - Use remixPrompt to describe desired surrounding content
            
        - Great for adding context without losing the original subject
            
        - Original image remains intact at center
            
        - Compare with pan for directional control vs. uniform expansion
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 0
                scale: 1.5
                remixPrompt: clouds over the sky
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/pan:
    post:
      tags:
        - image
      summary: Pan
      description: >-
        ## Extend Images in Specific Direction


        Expand an image in a single specified direction (up, down, left, or
        right) with precision scale control. Generates new content that
        seamlessly continues the original image.


        ### How it Works


        Select an image and specify direction and scale. The API extends the
        canvas in that direction and generates new content that naturally
        continues the scene, maintaining style and coherence.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to extend (0, 1, 2, or 3)
            
        - `direction` - Extension direction: 0=Down, 1=Right, 2=Up, 3=Left
            
        - `scale` - Extension scale ratio (1.1 to 3.0, e.g., 1.5 = 50% larger in
        that direction)
            
        - `remixPrompt` - Optional prompt to guide the extended content (1-8192
        characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The extended images (4 variations) will be sent
        to your callback URL when complete (typically 90-120 seconds).


        ### Use Cases


        - Create wider landscape compositions from square images
            
        - Extend portraits to include more environmental context
            
        - Add vertical space for text overlays or additional content
            
        - Build panoramic views from single images
            
        - Adjust aspect ratios for different platform requirements
            

        ### Tips


        - Use remixPrompt to specify what should appear in the extended area
            
        - Scale 1.5 is a good starting point (50% extension)
            
        - Higher scales (2.0-3.0) create more new content but may lose coherence
            
        - Works directionally - use outpaint for all-direction expansion
            
        - Can be applied multiple times in different directions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 0
                direction: 1
                scale: 1.5
                remixPrompt: a lake near the mountain
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique identifier for the created pan job
                  model:
                    type: string
                    description: AI model used (e.g., midjourney)
                  task_type:
                    type: string
                    description: Type of task (e.g., pan)
                  status:
                    type: string
                    description: Initial status (typically 'pending')
                  config:
                    type: object
                    properties:
                      service_mode:
                        type: string
                      webhook_config:
                        type: object
                        properties:
                          endpoint:
                            type: string
                          secret:
                            type: string
                  output:
                    type: object
                    properties:
                      image_url:
                        type: string
                      image_urls:
                        type: array
                        items:
                          type: string
                        nullable: true
                      seed:
                        type: string
                  meta:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      usage:
                        type: object
                        properties:
                          type:
                            type: string
                          frozen:
                            type: integer
                          consume:
                            type: integer
  /api/v1/remix:
    post:
      tags:
        - image
      summary: Remix
      description: >-
        ## Transform Images with New Prompts


        Apply a new text prompt to an existing image, transforming it while
        maintaining aspects of the original composition. Controllable intensity
        for subtle or dramatic changes.


        ### How it Works


        Select an image and provide a new prompt. The API applies the new
        description to the existing image, creating variations that blend the
        original structure with the new concept. Intensity mode controls how
        strongly the new prompt is applied.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to remix (0, 1, 2, or 3)
            
        - `remixPrompt` - New prompt to apply to the image (1-8192 characters)
            
        - `mode` - Remix intensity: 0=Strong (significant transformation),
        1=Subtle (light transformation)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The remixed images (4 variations) will be sent to
        your callback URL when complete (typically 90-120 seconds).


        ### Use Cases


        - Change the style or mood of an existing image
            
        - Apply different artistic directions to the same composition
            
        - Modify time of day, weather, or season in scenes
            
        - Transform realistic images to artistic styles (or vice versa)
            
        - Iterate on concepts by applying different prompts
            

        ### Tips


        - Mode 0 (Strong) makes dramatic changes while keeping some structure
            
        - Mode 1 (Subtle) makes gentle modifications, preserving more of the
        original
            
        - Remix prompt completely replaces the original prompt
            
        - Great for style transfer and conceptual variations
            
        - Experiment with both modes to find the right balance
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: 5dd94ec3-7282-4f04-9445-59e850ef1822
                imageNo: 0
                mode: 0
                remixPrompt: Change style to watercolor painting
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/edit:
    post:
      tags:
        - image
      summary: Edit
      description: >-
        ## Edit Images with Custom Canvas and Positioning


        Perform advanced image editing by placing an image on a custom canvas
        with precise positioning control. Enables complex edits, extensions, and
        compositions.


        ### How it Works


        Place a selected image on a custom-sized canvas at specified
        coordinates. The API fills empty canvas areas with generated content
        based on your prompt, allowing for flexible composition and extensions.


        ### Required Parameters


        - `jobId` - UUID of the original image generation task
            
        - `imageNo` - Image number to edit (0, 1, 2, or 3)
            
        - `canvas` - Target canvas dimensions:
            
            - `width` - Canvas width in pixels
                
            - `height` - Canvas height in pixels
                
        - `imgPos` - Image position on canvas:
            
            - `width` - Image width in pixels
                
            - `height` - Image height in pixels
                
            - `x` - Horizontal offset from canvas top-left
                
            - `y` - Vertical offset from canvas top-left
                
        - `remixPrompt` - Prompt for filling empty canvas areas (1-8192
        characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The edited images (4 variations) will be sent to
        your callback URL when complete (typically 90-120 seconds).


        ### Use Cases


        - Create complex compositions with custom layouts
            
        - Extend images asymmetrically in specific directions
            
        - Place subjects in entirely new contexts
            
        - Generate custom aspect ratios with filled backgrounds
            
        - Build complex scenes by positioning and extending images
            

        ### Tips


        - Canvas dimensions define the final output size
            
        - imgPos coordinates place your image within the canvas
            
        - Empty canvas areas are generated based on remixPrompt
            
        - More flexible than pan/outpaint for asymmetric extensions
            
        - Useful for precise aspect ratio and positioning control
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: c6821434-5e41-408f-b42b-2562306b109c
                imageNo: 1
                canvas:
                  width: 1024
                  height: 1024
                imgPos:
                  width: 512
                  height: 512
                  x: 256
                  'y': 256
                remixPrompt: A beautiful landscape with mountains
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique identifier for the created edit job
                  model:
                    type: string
                    description: AI model used (e.g., midjourney)
                  task_type:
                    type: string
                    description: Type of task (e.g., edit)
                  status:
                    type: string
                    description: Initial status (typically 'pending')
                  config:
                    type: object
                    properties:
                      service_mode:
                        type: string
                      webhook_config:
                        type: object
                        properties:
                          endpoint:
                            type: string
                          secret:
                            type: string
                  output:
                    type: object
                    properties:
                      image_url:
                        type: string
                      image_urls:
                        type: array
                        items:
                          type: string
                        nullable: true
                      seed:
                        type: string
                  meta:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      usage:
                        type: object
                        properties:
                          type:
                            type: string
                          frozen:
                            type: integer
                          consume:
                            type: integer
  /api/v1/shorten:
    post:
      tags:
        - image
      summary: Shorten
      description: >-
        ## Simplify Prompts to Essential Elements


        Analyze a long or complex prompt and reduce it to its most essential and
        impactful elements, maintaining effectiveness while improving clarity.


        ### How it Works


        Submit a lengthy prompt and the API analyzes it using AI, identifying
        the most important elements and removing redundancy. Returns multiple
        shortened variations.


        ### Required Parameters


        - `prompt` - The text prompt to simplify (1-8192 characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The shortened prompt variations will be sent to
        your callback URL when complete (typically 20-40 seconds).


        ### Use Cases


        - Optimize overly verbose prompts for better results
            
        - Learn which prompt elements are most impactful
            
        - Reduce token usage in prompt-based workflows
            
        - Clean up accumulated prompt modifications
            
        - Simplify complex prompts for better model understanding
            

        ### Tips


        - Particularly useful for prompts over 100 words
            
        - The AI preserves key descriptive elements while removing filler
            
        - Multiple variations help you choose the best simplified version
            
        - Test both original and shortened prompts to compare results
            
        - Great for learning concise prompt writing techniques
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                prompt: >-
                  A cyberpunk hacker workspace filled with holographic screens,
                  glowing code streams, mechanical keyboards, neon reflections,
                  cables and circuit boards everywhere, volumetric lighting,
                  ultra-detailed sci-fi aesthetic, cinematic atmosphere,
                  inspired by Ghost in the Shell and Blade Runner, rendered in
                  octane, 8k resolution --ar 21:9 --v 7 --style raw --q 2
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/describe:
    post:
      tags:
        - image
      summary: Describe
      description: >-
        ## Generate Detailed Text Descriptions from Images


        Analyze an image and generate detailed text descriptions that can be
        used as prompts for image generation. Perfect for reverse-engineering
        images or creating prompt variations.


        ### How it Works


        Provide an image URL and the API analyzes the image using AI, generating
        4 different text descriptions that capture the image's content, style,
        mood, and composition.


        ### Required Parameters


        - `imgUrl` - Public URL of the image to analyze and describe
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The generated descriptions (typically 4
        variations) will be sent to your callback URL when complete (typically
        30-60 seconds).


        ### Use Cases


        - Reverse-engineer successful images to understand prompt styles
            
        - Generate prompt variations from reference images
            
        - Create training data for prompt engineering
            
        - Document image libraries with AI-generated descriptions
            
        - Learn effective prompt writing by analyzing AI descriptions
            

        ### Tips


        - Image URL must be publicly accessible
            
        - Descriptions can be used directly as prompts for diffusion endpoint
            
        - Each description offers a different perspective/focus on the image
            
        - Useful for building prompt libraries from visual references
            
        - Combine with your own modifications for customized prompts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                imgUrl: >-
                  https://i.ibb.co/GQLwfvYV/aiony-haust-3-TLl-97-HNJo-unsplash.jpg
                callback: https://webhook.site/d0ca59bc-35a6-4a1e-b1b1-aea7faeb7f67
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/blend:
    post:
      tags:
        - image
      summary: Blend
      description: >-
        ## Combine Multiple Images into Unified Creation


        Seamlessly blend 2-5 images together to create a single unique image
        that combines elements, styles, and concepts from all source images.


        ### How it Works


        Upload 2-5 image URLs and specify an aspect ratio. The API analyzes all
        images and creates a cohesive blend that merges their visual elements,
        colors, styles, and concepts.


        ### Required Parameters


        - `imgUrls` - Array of 2-5 image URLs to blend
            
        - `aspect_ratio` - Output aspect ratio: "2:3" (portrait), "1:1"
        (square), or "3:2" (landscape)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The blended images (4 variations) will be sent to
        your callback URL when complete (typically 60-90 seconds).


        ### Use Cases


        - Combine style references for unique visual concepts
            
        - Merge product photos with artistic styles
            
        - Create hybrid concepts from multiple references
            
        - Blend textures and patterns for design work
            
        - Mix character designs or architectural styles
            

        ### Tips


        - Works best with 2-3 images; more images create more abstract results
            
        - All source images should be publicly accessible URLs
            
        - The blend is conceptual, not a simple overlay
            
        - Consider the aspect ratio based on your intended use
            
        - Experiment with different image composition, color palettes, or
        subject matter for varied results.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"imgUrls\": [\n     
                \"https://example.com/image1.png\",\n     
                \"https://example.com/image2.png\"\n    ],\n   
                \"aspect_ratio\": \"1:1\",\n    \"callback\":
                \"https://webhook.site/d0ca59bc-35a6-4a1e-b1b1-aea7faeb7f67\"\n 
                }"
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/job/{job_id}:
    get:
      tags:
        - Video
      summary: Get task response
      description: >-
        ## Retrieve Job Status and Results


        Query the status and results of any task using its job ID. Use this to
        check progress, retrieve completed results, or diagnose failures.


        ### How it Works


        Provide a job ID from any previous API request. The API returns the
        current task status, progress information, and results (if completed).
        Poll this endpoint to track long-running tasks.


        ### Required Parameters


        - `job_id` - UUID of the task (passed in URL path)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns complete task information including:


        - `status` - Current status: pending, staged, processing, failed, or
        completed
            
        - `output` - Generated images/videos (null until completed)
            
        - `meta` - Timestamps, usage information, processing details
            
        - `error` - Error details if status is "failed"
            
        - `logs` - Processing logs and progress updates
            

        ### Status Values


        - **pending**: Task queued, waiting to start
            
        - **staged**: Task prepared, about to begin processing
            
        - **processing**: Actively generating (includes progress percentage in
        logs)
            
        - **completed**: Successfully finished, results available in output
        field
            
        - **failed**: Processing failed, check error field for details
            

        ### Use Cases


        - Poll for task completion if not using webhooks
            
        - Retrieve results for tasks completed days/weeks ago
            
        - Debug failed tasks by examining error messages
            
        - Monitor processing progress for long-running jobs
            
        - Retrieve task history and usage information
            

        ### Tips


        - Job IDs are permanent - tasks can be retrieved anytime
            
        - Poll every 10-30 seconds for pending tasks (avoid excessive polling)
            
        - Webhook callbacks are more efficient than polling
            
        - Failed tasks include detailed error messages for debugging
            
        - Completed tasks retain all generation parameters in the input field
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
        - name: job_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique identifier for the job
                  model:
                    type: string
                    description: AI model used (e.g., midjourney)
                  task_type:
                    type: string
                    description: Type of task (e.g., diffusion)
                  status:
                    type: string
                    description: Current status (pending, staged, processing, completed, failed)
                  config:
                    type: object
                    properties:
                      service_mode:
                        type: string
                      webhook_config:
                        type: object
                        properties:
                          endpoint:
                            type: string
                          secret:
                            type: string
                  input:
                    type: object
                    nullable: true
                    description: Input parameters for the task
                  output:
                    type: object
                    properties:
                      image_url:
                        type: string
                      image_urls:
                        type: array
                        items:
                          type: string
                        nullable: true
                      seed:
                        type: string
                      available_actions:
                        type: object
                        properties:
                          edit:
                            type: array
                            items:
                              type: integer
                          inpaint:
                            type: array
                            items:
                              type: integer
                          outpaint:
                            type: array
                            items:
                              type: integer
                          pan:
                            type: array
                            items:
                              type: integer
                          remix:
                            type: array
                            items:
                              type: integer
                          reroll:
                            type: boolean
                          upscale:
                            type: array
                            items:
                              type: integer
                          variation:
                            type: array
                            items:
                              type: integer
                  meta:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      started_at:
                        type: string
                        format: date-time
                      ended_at:
                        type: string
                        format: date-time
                      usage:
                        type: object
                        properties:
                          type:
                            type: string
                          frozen:
                            type: integer
                          consume:
                            type: integer
                  detail:
                    type: object
                    nullable: true
                  logs:
                    type: array
                    items:
                      type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      raw_message:
                        type: string
                      message:
                        type: string
                      detail:
                        type: object
                        nullable: true
  /api/v1/video-diffusion:
    post:
      tags:
        - Video
      summary: Video Diffusion
      description: >-
        ## Generate Videos from Text or Animate Images


        Create dynamic videos either from text prompts or by animating existing
        generated images. Supports two modes: prompt-based generation and
        image-to-video animation.


        ### How it Works


        **Mode 1 - Text to Video**: Provide a text prompt and the API generates
        a video based on the description.  

        **Mode 2 - Image to Video**: Select a previously generated image and
        optionally add a prompt. The API animates the image, bringing it to life
        with motion.


        Processing takes 3-5 minutes depending on quality settings. Videos are 4
        seconds long.


        ### Required Parameters


        **For Text Mode**:


        - `prompt` - Video generation prompt (1-8192 characters)
            
        - `videoType` - Quality: 0=480p (faster), 1=720p (higher quality)
            

        **For Image Animation Mode**:


        - `jobId` - UUID of source image generation task
            
        - `imageNo` - Image number to animate (0, 1, 2, or 3)
            
        - `prompt` - Optional prompt to guide animation (1-8192 characters)
            
        - `videoType` - Quality: 0=480p (faster), 1=720p (higher quality)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The generated videos (4 variations) will be sent
        to your callback URL when complete (typically 3-5 minutes).


        ### Use Cases


        - Create animated content from text descriptions
            
        - Bring static generated images to life with animation
            
        - Generate video content for social media
            
        - Create motion graphics and animated sequences
            
        - Produce video mockups and previews
            

        ### Tips


        - 720p quality takes longer but provides significantly better results
            
        - Image animation mode adds motion to existing images
            
        - 4-second duration is standard - use extend-video to lengthen
            
        - Prompt in image mode guides animation style and movement
            
        - Text mode generates both visual content and motion
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                prompt: >-
                  https://i.ibb.co/yc7NvSqH/kling.jpg A beautiful woman playing
                  music
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
                videoType: 1
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/extend-video:
    post:
      tags:
        - Video
      summary: Extend Video
      description: >-
        ## Extend Video Duration with Seamless Continuation


        Add additional frames to extend the duration of generated videos.
        Creates smooth continuations that seamlessly flow from the original
        video.


        ### How it Works


        Select a previously generated video and optionally provide a prompt to
        guide the extension. The API analyzes the video's motion and content,
        then generates additional frames that naturally continue the sequence.
        Each extension adds 4 seconds.


        ### Required Parameters


        - `jobId` - UUID of the original video generation task
            
        - `videoNo` - Video number to extend (0, 1, 2, or 3)
            
        - `prompt` - Optional prompt to guide the extension (1-8192 characters)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The extended video will be sent to your callback
        URL when complete (typically 3-5 minutes).


        ### Use Cases


        - Create longer videos from initial 4-second generations
            
        - Extend successful animations for more content
            
        - Build sequential video narratives
            
        - Generate longer social media content
            
        - Create extended motion sequences
            

        ### Tips


        - Each extension adds 4 seconds to the video
            
        - Can extend up to 4 times (maximum 20 seconds total: 4+4+4+4+4)
            
        - Prompt helps guide what happens in the extended portion
            
        - Extension quality depends on the source video's clarity and motion
            
        - Works with both text-generated and image-animated videos
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: b24ffa07-7b76-49a2-963e-f6c527f7cec7
                videoNo: 0
                prompt: Continue with more dynamic movement and effects
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/v1/video-upscale:
    post:
      tags:
        - Video
      summary: Video Upscale
      description: >-
        ## Enhance Video Resolution and Quality


        Upscale generated videos to higher resolution with AI-powered quality
        enhancement. Improves clarity, detail, and overall visual quality.


        ### How it Works


        Select a previously generated video and the API processes each frame to
        increase resolution and enhance quality while maintaining motion
        smoothness and temporal consistency.


        ### Required Parameters


        - `jobId` - UUID of the original video generation task
            
        - `videoNo` - Video number to upscale (0, 1, 2, or 3)
            

        ### Authentication


        Requires a valid API key passed in the `x-api-key` header.


        ### Response


        Returns a task object. The upscaled video will be sent to your callback
        URL when complete (typically 4-6 minutes).


        ### Use Cases


        - Prepare videos for high-resolution displays
            
        - Enhance quality of draft-quality generations
            
        - Create production-ready video assets
            
        - Improve detail and clarity for professional use
            
        - Upgrade videos for client presentations
            

        ### Tips


        - Significantly increases processing time due to frame-by-frame
        enhancement
            
        - Best applied after you've selected your preferred video variation
            
        - Cannot be reversed - always keep original lower-resolution version
            
        - Quality improvement is substantial for text clarity and fine details
            
        - Consider workflow: generate/extend first, upscale final selection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                jobId: b24ffa07-7b76-49a2-963e-f6c527f7cec7
                videoNo: 0
                callback: https://webhook.site/c98cb890-fb92-439f-8d60-42c8a51eb52d
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: '{{x_api_key}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json:

              schema:

                $ref: '#/components/schemas/TaskResponse'
  /api/account/balance:
    get:
      tags:
        - account management
      summary: get account balance
      description: >-
        ## Retrieve Account Balance and Credit Information


        Get your current account balance, available credits, points, and low
        balance alert settings. Essential for monitoring usage and managing
        costs.


        ### How it Works


        Make a GET request to retrieve current account status. The API returns
        real-time balance information, available credits for API usage, and
        alert settings.


        ### Required Parameters


        None - this is a simple GET request with authentication


        ### Authentication


        Requires a valid API key passed in the `x-api-key` header (note: some
        implementations use `X-API-KEY`).


        ### Response


        Returns account balance information including:


        - `account_id` - Your account identifier
            
        - `balance_usd` - Current balance in USD
            
        - `available_credits` - Credits available for API usage
            
        - `available_points` - Points balance
            
        - `alert_threshold` - Low balance alert threshold (USD)
            
        - `low_balance_alert` - Whether low balance alert is triggered
            
        - `updated_at` - Last update timestamp
            

        ### Use Cases


        - Monitor remaining credits before large batch operations
            
        - Set up automated balance monitoring in applications
            
        - Verify successful credit purchases or additions
            
        - Track usage and spending over time
            
        - Implement low-balance warnings in applications
            

        ### Tips


        - Check balance before large batch operations to avoid interruptions
            
        - Balance is in USD, credits are usage tokens
            
        - Low balance alert threshold can be configured in dashboard
            
        - Updated in real-time - reflects immediate usage
            
        - Use for cost monitoring and budget management
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'

components:
  schemas:
    BalanceResponse:
      type: object
      properties:
        code:
          type: integer
          description: Response status code
          example: 200
        message:
          type: string
          description: Response message
          example: success
        data:
          $ref: '#/components/schemas/BalanceResponseData'

    BalanceResponseData:
      type: object
      properties:
        account_id:
          type: integer
          description: Account identifier
          example: 52
        balance_usd:
          type: number
          format: float
          description: Current balance in USD
          example: 4.068
        available_credits:
          type: integer
          description: Available credits for API usage
          example: 3000
        available_points:
          type: integer
          description: Available points
          example: 1068
        alert_threshold:
          type: integer
          description: Low balance alert threshold in USD
          example: 10
        low_balance_alert:
          type: boolean
          description: Whether low balance alert is triggered
          example: false
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2026-01-13T10:33:56.473007403Z"

    TaskResponse:
      type: object
      description: Standard async task response for image/video generation operations
      properties:
        job_id:
          type: string
          description: Unique identifier for the created job
          example: "7dea6cc5-5952-4f82-a906-1ed2328bc1c5"
        model:
          type: string
          description: AI model used
          example: "midjourney"
        task_type:
          type: string
          description: Type of task
          example: "diffusion"
        status:
          type: string
          description: Initial status (typically 'pending')
          example: "pending"
        config:
          type: object
          properties:
            service_mode:
              type: string
            webhook_config:
              type: object
              properties:
                endpoint:
                  type: string
                secret:
                  type: string
        output:
          type: object
          properties:
            image_url:
              type: string
            image_urls:
              type: array
              items:
                type: string
              nullable: true
            seed:
              type: string
        meta:
          type: object
          properties:
            created_at:
              type: string
              format: date-time
            usage:
              type: object
              properties:
                type:
                  type: string
                frozen:
                  type: integer
                consume:
                  type: integer
