=begin
#Midjourney api-unofficial by Legnext.ai

## **Legnext.ai Midjourney API: The Ultimate AI Image Generation Toolkit**  Unlock the full creative potential of Midjourney directly within your applications and development workflows using the **Legnext.ai Midjourney API (Unofficial)**. This comprehensive collection offers a ready-to-integrate solution for professional image and video creation, manipulation, and high-fidelity upscaling.  We provide developers with **stable, high-performance API access** to the Midjourney model. Crucially, integrating our service requires **no Midjourney account**, eliminating the hassle of managing official subscriptions or Discord interactions. Our toolkit simplifies the entire text-to-image process, supporting complex prompts, aspect ratio adjustments, and advanced style parameters.  Focus on innovation while we handle the AI infrastructure. Start building scalable, visually stunning applications today with reliable access to the world’s leading generative AI model.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenapiClient
  class AccountManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # get account balance
    # ## Retrieve Account Balance and Credit Information  Get your current account balance, available credits, points, and low balance alert settings. Essential for monitoring usage and managing costs.  ### How it Works  Make a GET request to retrieve current account status. The API returns real-time balance information, available credits for API usage, and alert settings.  ### Required Parameters  None - this is a simple GET request with authentication  ### Authentication  Requires a valid API key passed in the `x-api-key` header (note: some implementations use `X-API-KEY`).  ### Response  Returns account balance information including:  - `account_id` - Your account identifier      - `balance_usd` - Current balance in USD      - `available_credits` - Credits available for API usage      - `available_points` - Points balance      - `alert_threshold` - Low balance alert threshold (USD)      - `low_balance_alert` - Whether low balance alert is triggered      - `updated_at` - Last update timestamp       ### Use Cases  - Monitor remaining credits before large batch operations      - Set up automated balance monitoring in applications      - Verify successful credit purchases or additions      - Track usage and spending over time      - Implement low-balance warnings in applications       ### Tips  - Check balance before large batch operations to avoid interruptions      - Balance is in USD, credits are usage tokens      - Low balance alert threshold can be configured in dashboard      - Updated in real-time - reflects immediate usage      - Use for cost monitoring and budget management
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @return [BalanceResponse]
    def api_account_balance_get(opts = {})
      data, _status_code, _headers = api_account_balance_get_with_http_info(opts)
      data
    end

    # get account balance
    # ## Retrieve Account Balance and Credit Information  Get your current account balance, available credits, points, and low balance alert settings. Essential for monitoring usage and managing costs.  ### How it Works  Make a GET request to retrieve current account status. The API returns real-time balance information, available credits for API usage, and alert settings.  ### Required Parameters  None - this is a simple GET request with authentication  ### Authentication  Requires a valid API key passed in the &#x60;x-api-key&#x60; header (note: some implementations use &#x60;X-API-KEY&#x60;).  ### Response  Returns account balance information including:  - &#x60;account_id&#x60; - Your account identifier      - &#x60;balance_usd&#x60; - Current balance in USD      - &#x60;available_credits&#x60; - Credits available for API usage      - &#x60;available_points&#x60; - Points balance      - &#x60;alert_threshold&#x60; - Low balance alert threshold (USD)      - &#x60;low_balance_alert&#x60; - Whether low balance alert is triggered      - &#x60;updated_at&#x60; - Last update timestamp       ### Use Cases  - Monitor remaining credits before large batch operations      - Set up automated balance monitoring in applications      - Verify successful credit purchases or additions      - Track usage and spending over time      - Implement low-balance warnings in applications       ### Tips  - Check balance before large batch operations to avoid interruptions      - Balance is in USD, credits are usage tokens      - Low balance alert threshold can be configured in dashboard      - Updated in real-time - reflects immediate usage      - Use for cost monitoring and budget management
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_api_key 
    # @return [Array<(BalanceResponse, Integer, Hash)>] BalanceResponse data, response status code and response headers
    def api_account_balance_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountManagementApi.api_account_balance_get ...'
      end
      # resource path
      local_var_path = '/api/account/balance'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = opts[:'x_api_key'] if !opts[:'x_api_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BalanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountManagementApi.api_account_balance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountManagementApi#api_account_balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
