/*
Midjourney api-unofficial by Legnext.ai

# **Legnext.ai Midjourney API: The Ultimate AI Image Generation Toolkit**  Unlock the full creative potential of Midjourney directly within your applications and development workflows using the **Legnext.ai Midjourney API (Unofficial)**. This comprehensive collection offers a ready-to-integrate solution for professional image and video creation, manipulation, and high-fidelity upscaling.  We provide developers with **stable, high-performance API access** to the Midjourney model. Crucially, integrating our service requires **no Midjourney account**, eliminating the hassle of managing official subscriptions or Discord interactions. Our toolkit simplifies the entire text-to-image process, supporting complex prompts, aspect ratio adjustments, and advanced style parameters.  Focus on innovation while we handle the AI infrastructure. Start building scalable, visually stunning applications today with reliable access to the world’s leading generative AI model.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AccountManagementAPIService AccountManagementAPI service
type AccountManagementAPIService service

type ApiApiAccountBalanceGetRequest struct {
	ctx context.Context
	ApiService *AccountManagementAPIService
	xApiKey *string
}

func (r ApiApiAccountBalanceGetRequest) XApiKey(xApiKey string) ApiApiAccountBalanceGetRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiAccountBalanceGetRequest) Execute() (*BalanceResponse, *http.Response, error) {
	return r.ApiService.ApiAccountBalanceGetExecute(r)
}

/*
ApiAccountBalanceGet get account balance

## Retrieve Account Balance and Credit Information

Get your current account balance, available credits, points, and low balance alert settings. Essential for monitoring usage and managing costs.

### How it Works

Make a GET request to retrieve current account status. The API returns real-time balance information, available credits for API usage, and alert settings.

### Required Parameters

None - this is a simple GET request with authentication

### Authentication

Requires a valid API key passed in the `x-api-key` header (note: some implementations use `X-API-KEY`).

### Response

Returns account balance information including:

- `account_id` - Your account identifier
    
- `balance_usd` - Current balance in USD
    
- `available_credits` - Credits available for API usage
    
- `available_points` - Points balance
    
- `alert_threshold` - Low balance alert threshold (USD)
    
- `low_balance_alert` - Whether low balance alert is triggered
    
- `updated_at` - Last update timestamp
    

### Use Cases

- Monitor remaining credits before large batch operations
    
- Set up automated balance monitoring in applications
    
- Verify successful credit purchases or additions
    
- Track usage and spending over time
    
- Implement low-balance warnings in applications
    

### Tips

- Check balance before large batch operations to avoid interruptions
    
- Balance is in USD, credits are usage tokens
    
- Low balance alert threshold can be configured in dashboard
    
- Updated in real-time - reflects immediate usage
    
- Use for cost monitoring and budget management

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiAccountBalanceGetRequest
*/
func (a *AccountManagementAPIService) ApiAccountBalanceGet(ctx context.Context) ApiApiAccountBalanceGetRequest {
	return ApiApiAccountBalanceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BalanceResponse
func (a *AccountManagementAPIService) ApiAccountBalanceGetExecute(r ApiApiAccountBalanceGetRequest) (*BalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountManagementAPIService.ApiAccountBalanceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/account/balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
