/*
Midjourney api-unofficial by Legnext.ai

# **Legnext.ai Midjourney API: The Ultimate AI Image Generation Toolkit**  Unlock the full creative potential of Midjourney directly within your applications and development workflows using the **Legnext.ai Midjourney API (Unofficial)**. This comprehensive collection offers a ready-to-integrate solution for professional image and video creation, manipulation, and high-fidelity upscaling.  We provide developers with **stable, high-performance API access** to the Midjourney model. Crucially, integrating our service requires **no Midjourney account**, eliminating the hassle of managing official subscriptions or Discord interactions. Our toolkit simplifies the entire text-to-image process, supporting complex prompts, aspect ratio adjustments, and advanced style parameters.  Focus on innovation while we handle the AI infrastructure. Start building scalable, visually stunning applications today with reliable access to the world’s leading generative AI model.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package legnext

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ImageAPIService ImageAPI service
type ImageAPIService service

type ApiApiV1BlendPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *string
}

func (r ApiApiV1BlendPostRequest) XApiKey(xApiKey string) ApiApiV1BlendPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1BlendPostRequest) ContentType(contentType string) ApiApiV1BlendPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1BlendPostRequest) Body(body string) ApiApiV1BlendPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1BlendPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1BlendPostExecute(r)
}

/*
ApiV1BlendPost Blend

## Combine Multiple Images into Unified Creation

Seamlessly blend 2-5 images together to create a single unique image that combines elements, styles, and concepts from all source images.

### How it Works

Upload 2-5 image URLs and specify an aspect ratio. The API analyzes all images and creates a cohesive blend that merges their visual elements, colors, styles, and concepts.

### Required Parameters

- `imgUrls` - Array of 2-5 image URLs to blend
    
- `aspect_ratio` - Output aspect ratio: "2:3" (portrait), "1:1" (square), or "3:2" (landscape)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The blended images (4 variations) will be sent to your callback URL when complete (typically 60-90 seconds).

### Use Cases

- Combine style references for unique visual concepts
    
- Merge product photos with artistic styles
    
- Create hybrid concepts from multiple references
    
- Blend textures and patterns for design work
    
- Mix character designs or architectural styles
    

### Tips

- Works best with 2-3 images; more images create more abstract results
    
- All source images should be publicly accessible URLs
    
- The blend is conceptual, not a simple overlay
    
- Consider the aspect ratio based on your intended use
    
- Experiment with different image composition, color palettes, or subject matter for varied results.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1BlendPostRequest
*/
func (a *ImageAPIService) ApiV1BlendPost(ctx context.Context) ApiApiV1BlendPostRequest {
	return ApiApiV1BlendPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1BlendPostExecute(r ApiApiV1BlendPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1BlendPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/blend"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1DescribePostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	body *map[string]interface{}
}

func (r ApiApiV1DescribePostRequest) XApiKey(xApiKey string) ApiApiV1DescribePostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1DescribePostRequest) Body(body map[string]interface{}) ApiApiV1DescribePostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1DescribePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1DescribePostExecute(r)
}

/*
ApiV1DescribePost Describe

## Generate Detailed Text Descriptions from Images

Analyze an image and generate detailed text descriptions that can be used as prompts for image generation. Perfect for reverse-engineering images or creating prompt variations.

### How it Works

Provide an image URL and the API analyzes the image using AI, generating 4 different text descriptions that capture the image's content, style, mood, and composition.

### Required Parameters

- `imgUrl` - Public URL of the image to analyze and describe
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The generated descriptions (typically 4 variations) will be sent to your callback URL when complete (typically 30-60 seconds).

### Use Cases

- Reverse-engineer successful images to understand prompt styles
    
- Generate prompt variations from reference images
    
- Create training data for prompt engineering
    
- Document image libraries with AI-generated descriptions
    
- Learn effective prompt writing by analyzing AI descriptions
    

### Tips

- Image URL must be publicly accessible
    
- Descriptions can be used directly as prompts for diffusion endpoint
    
- Each description offers a different perspective/focus on the image
    
- Useful for building prompt libraries from visual references
    
- Combine with your own modifications for customized prompts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1DescribePostRequest
*/
func (a *ImageAPIService) ApiV1DescribePost(ctx context.Context) ApiApiV1DescribePostRequest {
	return ApiApiV1DescribePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1DescribePostExecute(r ApiApiV1DescribePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1DescribePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/describe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1DiffusionPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1DiffusionPostRequest) XApiKey(xApiKey string) ApiApiV1DiffusionPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1DiffusionPostRequest) ContentType(contentType string) ApiApiV1DiffusionPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1DiffusionPostRequest) Body(body map[string]interface{}) ApiApiV1DiffusionPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1DiffusionPostRequest) Execute() (*ApiV1DiffusionPost200Response, *http.Response, error) {
	return r.ApiService.ApiV1DiffusionPostExecute(r)
}

/*
ApiV1DiffusionPost Diffusion

## Generate Image from Text Prompt (Diffusion)

Creates AI-generated images from text descriptions using Midjourney's diffusion model. This endpoint processes your prompt asynchronously and delivers the generated image to your specified callback URL.

### How It Works

Submit a text prompt describing the image you want to create. The API processes your request using Midjourney's AI model and sends the generated image result to your callback URL when complete. Processing typically takes 30-90 seconds depending on complexity and queue length.

### Required Parameters

- **`text`** (string, required) - Your image description prompt
    
    - Example: `"A beautiful sunset over the snow mountains"`
        
    - Supports Midjourney parameters like `--v 7` (model version), `--draft` (draft mode), `--ar 16:9` (aspect ratio)
        
    - Be specific and descriptive for best results
        
- **`callback`** (string, required) - HTTPS webhook URL to receive the result
    
    - Must be publicly accessible and accept POST requests
        
    - Example: `"https://your-domain.com/webhook/image-result"`
        
    - The API will send the generated image data to this URL when processing completes
        

### Authentication

Requires a valid API key in the `x-api-key` header. Store your API key securely in environment variables and never expose it in client-side code.

### Response

Returns immediately with a task ID and status. The actual generated image will be delivered to your callback URL asynchronously once processing completes.

### Common Use Cases

- Generate marketing visuals and social media content
    
- Create concept art and design mockups
    
- Produce unique illustrations for articles and presentations
    
- Prototype visual ideas before commissioning custom artwork
    
- Build AI-powered image generation features into your applications
    

### Tips for Success

- **Be specific:** Detailed prompts produce better results (e.g., "photorealistic mountain landscape at golden hour" vs "mountains")
    
- **Use Midjourney parameters:** Add `--v 7` for the latest model version, `--ar 16:9` for widescreen format
    
- **Test your callback:** Ensure your webhook endpoint is accessible and can handle POST requests before submitting jobs
    
- **Handle async responses:** Implement proper webhook handling to receive and process results
    
- **Monitor task status:** Use the "Get task response" endpoint if you need to check job status manually
    

### Related Endpoints

- **Get task response** - Check the status of your generation task
    
- **Variation** - Create variations of a generated image
    
- **Upscale** - Enhance the resolution of generated images
    
- **Reroll** - Generate alternative versions with the same prompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1DiffusionPostRequest
*/
func (a *ImageAPIService) ApiV1DiffusionPost(ctx context.Context) ApiApiV1DiffusionPostRequest {
	return ApiApiV1DiffusionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiV1DiffusionPost200Response
func (a *ImageAPIService) ApiV1DiffusionPostExecute(r ApiApiV1DiffusionPostRequest) (*ApiV1DiffusionPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiV1DiffusionPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1DiffusionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/diffusion"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1EditPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1EditPostRequest) XApiKey(xApiKey string) ApiApiV1EditPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1EditPostRequest) ContentType(contentType string) ApiApiV1EditPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1EditPostRequest) Body(body map[string]interface{}) ApiApiV1EditPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1EditPostRequest) Execute() (*ApiV1EditPost200Response, *http.Response, error) {
	return r.ApiService.ApiV1EditPostExecute(r)
}

/*
ApiV1EditPost Edit

## Edit Images with Custom Canvas and Positioning

Perform advanced image editing by placing an image on a custom canvas with precise positioning control. Enables complex edits, extensions, and compositions.

### How it Works

Place a selected image on a custom-sized canvas at specified coordinates. The API fills empty canvas areas with generated content based on your prompt, allowing for flexible composition and extensions.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to edit (0, 1, 2, or 3)
    
- `canvas` - Target canvas dimensions:
    
    - `width` - Canvas width in pixels
        
    - `height` - Canvas height in pixels
        
- `imgPos` - Image position on canvas:
    
    - `width` - Image width in pixels
        
    - `height` - Image height in pixels
        
    - `x` - Horizontal offset from canvas top-left
        
    - `y` - Vertical offset from canvas top-left
        
- `remixPrompt` - Prompt for filling empty canvas areas (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The edited images (4 variations) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Create complex compositions with custom layouts
    
- Extend images asymmetrically in specific directions
    
- Place subjects in entirely new contexts
    
- Generate custom aspect ratios with filled backgrounds
    
- Build complex scenes by positioning and extending images
    

### Tips

- Canvas dimensions define the final output size
    
- imgPos coordinates place your image within the canvas
    
- Empty canvas areas are generated based on remixPrompt
    
- More flexible than pan/outpaint for asymmetric extensions
    
- Useful for precise aspect ratio and positioning control

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1EditPostRequest
*/
func (a *ImageAPIService) ApiV1EditPost(ctx context.Context) ApiApiV1EditPostRequest {
	return ApiApiV1EditPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiV1EditPost200Response
func (a *ImageAPIService) ApiV1EditPostExecute(r ApiApiV1EditPostRequest) (*ApiV1EditPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiV1EditPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1EditPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1InpaintPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1InpaintPostRequest) XApiKey(xApiKey string) ApiApiV1InpaintPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1InpaintPostRequest) ContentType(contentType string) ApiApiV1InpaintPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1InpaintPostRequest) Body(body map[string]interface{}) ApiApiV1InpaintPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1InpaintPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1InpaintPostExecute(r)
}

/*
ApiV1InpaintPost Inpaint

## Selectively Modify Image Regions with Masks

Repaint or modify specific regions within an existing image using mask-based editing. Target precise areas for changes while preserving the rest of the image.

### How it Works

Select an image and define regions to modify using either polygon coordinates or a mask image URL. Optionally provide a prompt to guide what should appear in those regions. The API regenerates only the masked areas.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to edit (0, 1, 2, or 3)
    
- `mask` - Regions to repaint (use either areas array or url):
    
    - `areas` - Array of polygons with width, height, and points (XYXY coordinates)
        
    - `url` - Black and white mask image URL (white areas will be repainted)
        
- `remixPrompt` - Optional prompt for the repaint area (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The inpainted images (4 variations) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Remove unwanted objects from images
    
- Replace specific elements while keeping surroundings
    
- Modify facial expressions or poses
    
- Change colors or textures in targeted areas
    
- Fix specific issues without regenerating entire image
    

### Tips

- Polygon points format: \[x1,y1, x2,y2, x3,y3, x4,y4\] in clockwise order
    
- Mask images: white = repaint, black = keep original
    
- Use remixPrompt to specify what should replace masked content
    
- Smaller masks give more precise control
    
- Can apply multiple polygon areas in a single request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1InpaintPostRequest
*/
func (a *ImageAPIService) ApiV1InpaintPost(ctx context.Context) ApiApiV1InpaintPostRequest {
	return ApiApiV1InpaintPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1InpaintPostExecute(r ApiApiV1InpaintPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1InpaintPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/inpaint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1OutpaintPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1OutpaintPostRequest) XApiKey(xApiKey string) ApiApiV1OutpaintPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1OutpaintPostRequest) ContentType(contentType string) ApiApiV1OutpaintPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1OutpaintPostRequest) Body(body map[string]interface{}) ApiApiV1OutpaintPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1OutpaintPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1OutpaintPostExecute(r)
}

/*
ApiV1OutpaintPost Outpaint

## Expand Images in All Directions

Extend an image uniformly in all directions using intelligent outpainting. Creates a larger canvas while maintaining the original image at the center.

### How it Works

Select an image and specify scale factor. The API expands the canvas uniformly in all directions and generates new content that naturally continues the scene on all sides.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to expand (0, 1, 2, or 3)
    
- `scale` - Extension scale ratio (1.1 to 2.0, e.g., 1.5 = 50% larger in all directions)
    
- `remixPrompt` - Optional prompt to guide the outpainted areas (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The outpainted images (4 variations) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Add environmental context around subject-focused images
    
- Create wider scenes from cropped compositions
    
- Extend backgrounds for design flexibility
    
- Generate variations with different surrounding content
    
- Prepare images for different aspect ratios
    

### Tips

- Scale range 1.1-2.0 (outpaint is more conservative than pan)
    
- Use remixPrompt to describe desired surrounding content
    
- Great for adding context without losing the original subject
    
- Original image remains intact at center
    
- Compare with pan for directional control vs. uniform expansion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1OutpaintPostRequest
*/
func (a *ImageAPIService) ApiV1OutpaintPost(ctx context.Context) ApiApiV1OutpaintPostRequest {
	return ApiApiV1OutpaintPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1OutpaintPostExecute(r ApiApiV1OutpaintPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1OutpaintPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/outpaint"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1PanPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1PanPostRequest) XApiKey(xApiKey string) ApiApiV1PanPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1PanPostRequest) ContentType(contentType string) ApiApiV1PanPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1PanPostRequest) Body(body map[string]interface{}) ApiApiV1PanPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1PanPostRequest) Execute() (*ApiV1PanPost200Response, *http.Response, error) {
	return r.ApiService.ApiV1PanPostExecute(r)
}

/*
ApiV1PanPost Pan

## Extend Images in Specific Direction

Expand an image in a single specified direction (up, down, left, or right) with precision scale control. Generates new content that seamlessly continues the original image.

### How it Works

Select an image and specify direction and scale. The API extends the canvas in that direction and generates new content that naturally continues the scene, maintaining style and coherence.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to extend (0, 1, 2, or 3)
    
- `direction` - Extension direction: 0=Down, 1=Right, 2=Up, 3=Left
    
- `scale` - Extension scale ratio (1.1 to 3.0, e.g., 1.5 = 50% larger in that direction)
    
- `remixPrompt` - Optional prompt to guide the extended content (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The extended images (4 variations) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Create wider landscape compositions from square images
    
- Extend portraits to include more environmental context
    
- Add vertical space for text overlays or additional content
    
- Build panoramic views from single images
    
- Adjust aspect ratios for different platform requirements
    

### Tips

- Use remixPrompt to specify what should appear in the extended area
    
- Scale 1.5 is a good starting point (50% extension)
    
- Higher scales (2.0-3.0) create more new content but may lose coherence
    
- Works directionally - use outpaint for all-direction expansion
    
- Can be applied multiple times in different directions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1PanPostRequest
*/
func (a *ImageAPIService) ApiV1PanPost(ctx context.Context) ApiApiV1PanPostRequest {
	return ApiApiV1PanPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiV1PanPost200Response
func (a *ImageAPIService) ApiV1PanPostExecute(r ApiApiV1PanPostRequest) (*ApiV1PanPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiV1PanPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1PanPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/pan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1RemixPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1RemixPostRequest) XApiKey(xApiKey string) ApiApiV1RemixPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1RemixPostRequest) ContentType(contentType string) ApiApiV1RemixPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1RemixPostRequest) Body(body map[string]interface{}) ApiApiV1RemixPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1RemixPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1RemixPostExecute(r)
}

/*
ApiV1RemixPost Remix

## Transform Images with New Prompts

Apply a new text prompt to an existing image, transforming it while maintaining aspects of the original composition. Controllable intensity for subtle or dramatic changes.

### How it Works

Select an image and provide a new prompt. The API applies the new description to the existing image, creating variations that blend the original structure with the new concept. Intensity mode controls how strongly the new prompt is applied.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to remix (0, 1, 2, or 3)
    
- `remixPrompt` - New prompt to apply to the image (1-8192 characters)
    
- `mode` - Remix intensity: 0=Strong (significant transformation), 1=Subtle (light transformation)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The remixed images (4 variations) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Change the style or mood of an existing image
    
- Apply different artistic directions to the same composition
    
- Modify time of day, weather, or season in scenes
    
- Transform realistic images to artistic styles (or vice versa)
    
- Iterate on concepts by applying different prompts
    

### Tips

- Mode 0 (Strong) makes dramatic changes while keeping some structure
    
- Mode 1 (Subtle) makes gentle modifications, preserving more of the original
    
- Remix prompt completely replaces the original prompt
    
- Great for style transfer and conceptual variations
    
- Experiment with both modes to find the right balance

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RemixPostRequest
*/
func (a *ImageAPIService) ApiV1RemixPost(ctx context.Context) ApiApiV1RemixPostRequest {
	return ApiApiV1RemixPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1RemixPostExecute(r ApiApiV1RemixPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1RemixPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/remix"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1RerollPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1RerollPostRequest) XApiKey(xApiKey string) ApiApiV1RerollPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1RerollPostRequest) ContentType(contentType string) ApiApiV1RerollPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1RerollPostRequest) Body(body map[string]interface{}) ApiApiV1RerollPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1RerollPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1RerollPostExecute(r)
}

/*
ApiV1RerollPost Reroll

## Re-execute Task with Same Parameters

Regenerate a new set of images using the exact same parameters as a previous task. This is equivalent to running the original request again with identical settings.

### How it Works

Provide a previous task's job ID and the API will execute the same generation with the same prompt and parameters, producing 4 completely new variations.

### Required Parameters

- `jobId` - UUID of the task to reroll
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a new task object with different `job_id`. The rerolled images (4 new variations) will be sent to your callback URL when complete (typically 60-90 seconds).

### Use Cases

- Try the same prompt again if initial results didn't meet expectations
    
- Generate additional variations without retyping prompts
    
- Explore different random seeds for the same concept
    
- Create more options from successful prompts
    

### Tips

- Reroll uses the exact same parameters as the original task
    
- Results will be completely different due to different random seeds
    
- Consider using variation endpoint instead if you want to build on a specific result
    
- You can reroll any completed task, even from previous sessions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RerollPostRequest
*/
func (a *ImageAPIService) ApiV1RerollPost(ctx context.Context) ApiApiV1RerollPostRequest {
	return ApiApiV1RerollPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1RerollPostExecute(r ApiApiV1RerollPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1RerollPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/reroll"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1ShortenPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	body *map[string]interface{}
}

func (r ApiApiV1ShortenPostRequest) XApiKey(xApiKey string) ApiApiV1ShortenPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1ShortenPostRequest) Body(body map[string]interface{}) ApiApiV1ShortenPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1ShortenPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1ShortenPostExecute(r)
}

/*
ApiV1ShortenPost Shorten

## Simplify Prompts to Essential Elements

Analyze a long or complex prompt and reduce it to its most essential and impactful elements, maintaining effectiveness while improving clarity.

### How it Works

Submit a lengthy prompt and the API analyzes it using AI, identifying the most important elements and removing redundancy. Returns multiple shortened variations.

### Required Parameters

- `prompt` - The text prompt to simplify (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The shortened prompt variations will be sent to your callback URL when complete (typically 20-40 seconds).

### Use Cases

- Optimize overly verbose prompts for better results
    
- Learn which prompt elements are most impactful
    
- Reduce token usage in prompt-based workflows
    
- Clean up accumulated prompt modifications
    
- Simplify complex prompts for better model understanding
    

### Tips

- Particularly useful for prompts over 100 words
    
- The AI preserves key descriptive elements while removing filler
    
- Multiple variations help you choose the best simplified version
    
- Test both original and shortened prompts to compare results
    
- Great for learning concise prompt writing techniques

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1ShortenPostRequest
*/
func (a *ImageAPIService) ApiV1ShortenPost(ctx context.Context) ApiApiV1ShortenPostRequest {
	return ApiApiV1ShortenPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1ShortenPostExecute(r ApiApiV1ShortenPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1ShortenPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/shorten"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1UpscalePostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1UpscalePostRequest) XApiKey(xApiKey string) ApiApiV1UpscalePostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1UpscalePostRequest) ContentType(contentType string) ApiApiV1UpscalePostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1UpscalePostRequest) Body(body map[string]interface{}) ApiApiV1UpscalePostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1UpscalePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UpscalePostExecute(r)
}

/*
ApiV1UpscalePost Upscale

## Enhance Image Resolution and Quality

Upscale and enhance one of your generated images to higher resolution with AI-powered quality improvement. Produces a single high-resolution version of the selected image.

### How it Works

Select one image from a generation task and choose upscaling type. The API processes the image to increase resolution while adding detail and clarity based on the selected upscaling mode.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to upscale (0, 1, 2, or 3)
    
- `type` - Upscaling type: 0=Subtle (conservative enhancement), 1=Creative (adds detail and interpretation)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a task object. The upscaled image (single high-resolution output) will be sent to your callback URL when complete (typically 90-120 seconds).

### Use Cases

- Prepare images for print or high-resolution displays
    
- Enhance selected variations for final delivery
    
- Create detailed versions for client presentations
    
- Generate production-ready assets from generations
    

### Tips

- Type 0 (Subtle) is safer for preserving exact details
    
- Type 1 (Creative) works well for artistic images where added interpretation is acceptable
    
- Upscaling is typically the final step after selecting your preferred variation
    
- Output resolution is significantly higher than the original 4-image grid

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UpscalePostRequest
*/
func (a *ImageAPIService) ApiV1UpscalePost(ctx context.Context) ApiApiV1UpscalePostRequest {
	return ApiApiV1UpscalePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1UpscalePostExecute(r ApiApiV1UpscalePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1UpscalePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/upscale"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1VariationPostRequest struct {
	ctx context.Context
	ApiService *ImageAPIService
	xApiKey *string
	contentType *string
	body *map[string]interface{}
}

func (r ApiApiV1VariationPostRequest) XApiKey(xApiKey string) ApiApiV1VariationPostRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1VariationPostRequest) ContentType(contentType string) ApiApiV1VariationPostRequest {
	r.contentType = &contentType
	return r
}

func (r ApiApiV1VariationPostRequest) Body(body map[string]interface{}) ApiApiV1VariationPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1VariationPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1VariationPostExecute(r)
}

/*
ApiV1VariationPost Variation

## Create Controlled Variations of Existing Images

Generate new variations of a specific image from a previous generation task with controllable transformation intensity. Perfect for exploring different interpretations while maintaining the core composition.

### How it Works

Select one of the 4 generated images from a diffusion task and create variations with either subtle or strong intensity. The API generates 4 new variations based on your selected image and intensity setting.

### Required Parameters

- `jobId` - UUID of the original image generation task
    
- `imageNo` - Image number to vary (0, 1, 2, or 3)
    
- `type` - Variation intensity: 0=Subtle (minor changes), 1=Strong (major changes)
    
- `remixPrompt` - Optional additional prompt for guided variation (1-8192 characters)
    

### Authentication

Requires a valid API key passed in the `x-api-key` header.

### Response

Returns a new task object with `job_id`. The 4 variation images will be sent to your callback URL when processing completes (typically 60-90 seconds).

### Use Cases

- Explore different interpretations of a successful generation
    
- Fine-tune specific aspects of an image
    
- Create multiple versions for A/B testing
    
- Generate variations for client review
    
- Remix images with additional prompt guidance
    

### Tips

- Use type=0 (subtle) for minor refinements, type=1 (strong) for significant changes
    
- Add remixPrompt to guide the variation in a specific direction
    
- The original composition and structure are generally preserved
    
- Can chain variations: create variations of variations for iterative refinement

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1VariationPostRequest
*/
func (a *ImageAPIService) ApiV1VariationPost(ctx context.Context) ApiApiV1VariationPostRequest {
	return ApiApiV1VariationPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ImageAPIService) ApiV1VariationPostExecute(r ApiApiV1VariationPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.ApiV1VariationPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/variation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-key", r.xApiKey, "simple", "")
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
